@import "tailwindcss";

.scrollbar-hidden::-webkit-scrollbar{
  display: none;
}

.scroll-text {
  animation: scroll-left 10s linear infinite; /* Scroll animation */
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  align-items: center; 
  justify-content: center;
  padding: 8px;
  
}

